:root{
    --blue:rgb(0, 0, 153);
    --philosopher: 'Philosopher', sans-serif;
    --zcool: 'ZCOOL KuaiLe', sans-serif;
    --lobster: 'Lobster', sans-serif;
}
body{
    margin:0px;
    padding:0px;
    top:0;
    
    font-family: var(--philosopher);
}
h1{
    font-size:6rem;
    background-image: linear-gradient(-45deg, rgb(77, 255, 255), rgb(2, 230, 2));
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    font-family: var(--lobster);
}
h2{
    font-size: 4rem;
    font-family: var(--lobster);
}

/* background */
.image {
    opacity:0.9;
    background: url(../images/dots-g958985e1f_1920.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height:100vh;
  }
  
  /* code to add wave at bottom */
  /* @keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    /* background-image: linear-gradient(to top, #86377b 20%, #27273c 80%); */
    /*background-image: url("../images/dots-g958985e1f_1920.jpg");
    opacity: 0.8;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
} */

/* scroll down arrow */

a{
    scroll-behavior: smooth;
  }
 .arrow-container{
   width: 100px;
   height: 100px;
   margin: 0 auto;
   position: absolute;
   bottom: 25px;
   left: 0;
   right: 0;
 }
 .arrow-container:hover{
   transform: translateY(-1rem);
   cursor: pointer;
 }
 .arrow-1{
   width: 100px;
   height: 100px;
   background: #03e2ff;
   opacity: 0.5;
   border-radius: 50%;
   position: absolute;
 }
 
 .arrow-2{
   width: 60px;
   height: 60px;
   background: #01a8be;
   border-radius: 50%;
   position: absolute;
   top: 20px;
   left: 20px;
   z-index: 1;
   display: table;
 }
 
 .arrow-2:before{
   width: 52px;
   height: 52px;
   content: "";
   border: 2px solid #00788d;
   border-radius: 50%;
   position: absolute;
   top: 3px;
   left: 4px;
 }
 
 .arrow-2 i.fa{
   font-size: 30px;
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   color: #015772;
 }
 
 /* Custom Animate.css */
 
 .animated.hinge {
   -webkit-animation-duration: 2s;
           animation-duration: 2s;
           -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
 }
 
 @-webkit-keyframes zoomIn {
   0% {
     opacity: 0;
     -webkit-transform: scale3d(.4, .4, .4);
             transform: scale3d(.4, .4, .4);
   }
 
   50% {
     opacity: 0.5;
   }
   
   100% {
     opacity: 0;
   }
 }
 
 @keyframes zoomIn {
   0% {
     opacity: 0;
     -webkit-transform: scale3d(.4, .4, .4);
             transform: scale3d(.4, .4, .4);
   }
 
   50% {
     opacity: 0.5;
   }
   
   100% {
     opacity: 0;
   }
 }
 
 .zoomIn {
   -webkit-animation-name: zoomIn;
           animation-name: zoomIn;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
 }

/* horizontal line */
hr {
    /* border: none; */
    border-top: 3px double rgb(37, 37, 37);
    color: rgb(37, 37, 37);
    overflow: visible;
    text-align: center;
    height: .4rem;
    width:12rem;
}

hr:after {
    background: rgb(255, 255, 255);
    content: 'ჶ';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

/* upcoming events */
.crd{
    position: relative;
    /* margin: 26rem 2rem 1rem 2rem; */
    padding:2rem;
    /* border:2px solid red; */
    /* text-align:center; */
    display: block;
    width:100%;
    height:80%;
    background-image: url("../images/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  .head-upc-events{
    display:block;
    width:100%;
    text-align: center;
    color:wheat;
  }
  
  
  /* @import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); */
  
  /* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Righteous", cursive;
    min-height: 100vh;
    background-color: #a9c9ff;
    background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  } */
    .crd-container {
      max-width: 100vw;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 3.5rem;
      margin: 0 auto;
      padding: 4rem 0;
     /* background-color: blue; */
    }
    .h2-head{
        font-size:1rem;
        font-family: var(--lobster);
    }
      .card {
        position: relative;
        width: 25rem;
        height: 35rem;
        margin: 0 auto;
        background: #000;
        border-radius: 1.5rem;
        box-shadow: 0 15px 60px rgba(255, 255, 255, 0.4);
      }
        .face {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
          &.face1 {
            box-sizing: border-box;
            padding: 2rem;
          }
        
            h2 {
              text-align: center;
              margin: 0;
              padding: 0;
            }
  
            .event1 {
              text-align: center;
              background-color: #fffc00;
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .event2 {
              text-align: center;
              background-color: #00fffc;
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
  
            .event3 {
              text-align: center;
              background-color: #fc00ff;
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
  
          &.face2 {
            transition: 0.5s;
          }
            h2 {
              margin: 0;
              padding: 0;
              color: #fff;
              transition: 0.5s;
              text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              z-index: 10;
              text-align: center;
              font-size:3rem;
              font-family: var(--zcool);
            }
          /* }
        }
      } */
  
      .card:hover .face.face2 {
        height: 5rem;
      }
        h2 {
          text-align: center;
        }
      /* } */
  
      .card:nth-child(1) .face.face2 {
        background-image: linear-gradient(
          40deg,
          #fffc00 0%,
          #fc00ff 45%,
          #00fffc 100%
        );
        border-radius: 1.5rem;
      }
  
      .card:nth-child(2) .face.face2 {
        background-image: linear-gradient(
          40deg,
          #fc00ff 0%,
          #00fffc 45%,
          #fffc00 100%
        );
        border-radius: 1.5rem;
      }
  
      .card:nth-child(3) .face.face2 {
        background-image: linear-gradient(
          40deg,
          #00fffc 0%,
          #fc00ff 45%,
          #fffc00 100%
        );
        border-radius: 1.5rem;
      }
    /* } */
  /* } */


  /* Messages */
  
  .card-info {
    /* width: 500px; */
    min-height: 100px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
  }
  .card-info:after {
    content: "";
    display: block;
    width: 190px;
    height: 300px;
    background: cadetblue;
    position: absolute;
    animation: rotatemagic 4s cubic-bezier(0.425, 1.04, 0.47, 1.105) infinite both;
  }
  
  /* .badgescard {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #ECECEC;
    width: 480px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: -1;
    left: 10px;
    bottom: 10px;
    animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
  } */
  /* .badgescard span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
    position: fixed;
    z-index:-2;
  } */
  
  .firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
  }
  .firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  .firstinfo .profileinfo {
    /* padding: 0px 20px; */
  }
  /* .firstinfo .profileinfo h1 {
    font-size: 1.8em;
  } */
  .firstinfo .profileinfo h3 {
    /* font-size: 1.2em; */
    color: #009688;
    font-style: italic;
  }
  .firstinfo .profileinfo p.bio {
    color: #5A5A5A;
    line-height: 1.2;
  }
  
 
  /* @keyframes animainfos {
    0% {
      bottom: 10px;
    }
    100% {
      bottom: -42px;
    }
  } */
  @keyframes rotatemagic {
    0% {
      opacity: 0;
      transform: rotate(0deg);
      top: -24px;
      left: -253px;
    }
    25% {
      transform: rotate(-30deg);
      top: -24px;
      left: -78px;
    }
    50% {
      transform: rotate(65deg);
      top: -24px;
      left: -78px;
    }
    75% {
      transform: rotate(-45deg);
      top: -24px;
      left: -78px;
    }
    100% {
      transform: rotate(25deg);
      top: -24px;
      left: -78px;
    }
  }
 